/* Basic */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

button {
  cursor: pointer;
}

/* Header */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.accent {
  color: #4d5ae5;
  text-transform: uppercase;
}

.nav-menu {
  font-weight: 500;
  color: #2e2f42;
}

.nav-text:hover,
.nav-text:focus,
.contacts-text:hover,
.contacts-text:focus {
  color: #404bbf;
}

.nav-text:active {
  text-decoration: underline;
}

/* Hero section */

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Benefits */

/* Team */

.our-team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.card-title,
.card-text {
  text-align: center;
}
/* Portfolio */

/* Footer */

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}
